<%= form_for @menu, :html => { :class => "form-horizontal menu" } do |f| %>

  <% if @menu.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :restaurant_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :restaurant_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:restaurant_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to "Other Menus",
                menus_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
