<div class="page-header">
  <h1>Users</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>email</th>
      <th>current_sign_in_at</th>
      <th>last_sign_in_at</th>
      <th>current_sign_in_ip</th>
      <th>last_sign_in_ip</th>
      <th>user_type_id</th>
      <th>created_at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.current_sign_in_at %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td><%= user.user_type_id %></td>
        <td><%=l user.created_at %></td>
        <td>
          <%= link_to "Show",
                      user_path(user), :class => 'btn btn-default btn-xs' %>
          <%= link_to "Edit",
                      edit_user_path(user), :class => 'btn btn-default btn-xs' %>
          <%= link_to "Delete",
                      user_path(user),
                      :method => :delete,
                      :data => { confirm: 'Are you sure?'},
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New",
            signup_path,
            :class => 'btn btn-primary' %>
