<%- model_class = Restaurant -%>
<div class="page-header">
  <center><h3>Our Restaurants</h3></center>
  </hr>
  <% if current_user && User.is_admin?(current_user)%>
  <div class="container">
  <%= link_to "Add New Restaurant", new_restaurant_path, :class => 'btn btn-primary' %>

  </div>

  <% end %>
</div>

<%if @restaurants %>

    <% @restaurants.each do |restaurant| %>

      <div class="card col-md-3 card00">
    <i class="fa fa-user fa-3x"></i>
    <h3><%= restaurant.restaurant_name %></h3>
      
      <hr>
      <h5><h6><b>Description</b></h6><%= restaurant.restaurant_description%></h5>
      <h6 class="muted"><b><i>Restaurant location: </i></b><%= restaurant.restaurant_location%></h6>


      <hr>
      <p class="muted">Created: <%= time_ago_in_words(restaurant.created_at) %> ago..</p>

      <span class="muted"><i>Category:</i></span><span class="muted label label-info"> <%= restaurant.restaurant_name%></span>
      <hr>

       <%= link_to "<i class='fa fa-tasks' class='blue'></i> View Menu".html_safe, restaurant_menus_path(restaurant),:class => 'btn btn-default btn-xs' %>
       <% if current_user && User.is_admin?(current_user) %>
       <%= link_to "<i class='fa fa-tasks' class='blue'></i> Edit Menus".html_safe, new_restaurant_menu_path(restaurant),:class => 'btn btn-default btn-xs' %>

       <% elsif current_user && User.is_restaurant_admin?(current_user) %>
       <%= link_to "<i class='fa fa-tasks' class='blue'></i> Place Order".html_safe, new_restaurant_menu_path(restaurant),:class => 'btn btn-default btn-xs' %>

       <% else %>

       <%= link_to "<i class='fa fa-tasks' class='blue'></i> Login to place order".html_safe, new_restaurant_menu_path(restaurant),:class => 'btn btn-default btn-xs' %>
       <% end %>


    </div>

<% end %>




<% end %>





