<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:restaurant_name) %>:</strong></dt>
  <dd><%= @restaurant.restaurant_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:restaurant_description) %>:</strong></dt>
  <dd><%= @restaurant.restaurant_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:restaurant_location) %>:</strong></dt>
  <dd><%= @restaurant.restaurant_location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:restaurant_image) %>:</strong></dt>
  <dd><%= @restaurant.restaurant_image %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              restaurants_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_restaurant_path(@restaurant), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              restaurant_path(@restaurant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
